/**========================================================================
 *                           FIRST THEME
 *========================================================================**/
// $primaryBackground: #2c2c2c;
// $secondaryBackground: #f6ebe0;
// $primarySections: #d9d9d9;
// $primaryText: #1e1e1e;
// $secondaryText: #5a5a5a;
// $primaryAccentColor: #ff6f61;
// $secondaryAccentColor: #009688;
// $tertiaryAccentColor: #f9c74f;
// $primarySupportingColor: #264653;
// $secondarySupportingColor: #eae2b7;
/**========================================================================
 *                           SECOND THEME
 *========================================================================**/
$primaryBackground: #f8f8eb;
$secondaryBackground: #2c2c2c;
$tertiaryBackground: #ffffff;
$primarySections: #f07167;
$secondarySections: #fed9b7;
$primaryText: #1e1e1e;
$secondaryText: #5a5a5a;
$primaryCTA: #0081a7;
$secondaryCTA: #00afb9;
