/**========================================================================
 *                           IMPORTS
 *========================================================================**/
@use "../themes/temp" as theme;
@use "../utilities/transitions" as *;
@use "../utilities/forms" as *;

/**========================================================================
 *                           UTILITIES
 *========================================================================**/

/**========================================================================
 *                           REGISTER PAGE
 *========================================================================**/

.register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: theme.$tertiaryBackground;
  overflow: hidden;
  position: relative;

  .register__left__container,
  .register__right__container {
    @include smooth-transition;
  }

  &.right-only {
    @include smooth-transition(all, 0.5s, cubic-bezier(0.4, 0, 0.2, 1));
    .register__right__container,
    .register__left__container,
    .register__divider {
      position: absolute;
    }
    .register__right__container {
      right: 0;
      width: 100vw;
      height: 100vh;
    }
    .register__divider {
      transition: all 0s ease !important;
      transform: translateX(5.5rem) !important;
    }
    .register__left__container {
      left: 9.55rem;
    }
  }

  .register__left__container,
  .register__right__container,
  .register__divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &:nth-child(1) {
      flex: 1;
      opacity: 1;
    }

    &:nth-child(2) {
      width: 8rem;
      .left-side {
        filter: drop-shadow(-5px 0px 4.5px rgba(0, 0, 0, 0.3));
      }
    }
    &:nth-child(3) {
      flex: 0.8;
      background-color: theme.$primaryCTA;
    }
  }

  .register__left__container {
    .register__left__content {
      background-color: theme.$primaryBackground;
      padding: 2.5rem;
      border-radius: 1rem;
      width: 450px;
      max-width: 450px;
      box-shadow: 0 1px 4px #0000001f, 0 0 2px #0000003d;

      h1 {
        text-align: center;
        color: theme.$primaryText;
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .register__form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .register__form__input-group {
          input {
            @include form-input;
          }
          &__field-error {
            input {
              border-color: theme.$primaryError;
            }
          }
          &__field-success {
            input {
              border-color: theme.$primaryCTA;
            }
          }
          &__error {
            @include form-error;
          }
        }
      }

      .register__footer {
        margin-top: 2rem;
        text-align: center;
        color: theme.$secondaryText;
        font-weight: 300;

        a {
          @include hover-underline(theme.$primaryCTA);
        }
      }
    }
  }

  .register__right__container {
    @include smooth-transition;
    width: 40vw;
    height: 100vh;

    .register__right__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      &__details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        h1 {
          height: 3rem;
          text-align: center;
          color: theme.$primaryBackground;
          font-weight: 300;
          font-size: 3rem;
          position: relative;
          &::after {
            @include smooth-transition(
              all,
              0.45s,
              cubic-bezier(0.4, 0, 0.2, 1)
            );
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: -1rem;
            left: 0;
            background-color: theme.$primaryBackground;
          }
        }
        span {
          color: theme.$primaryBackground;
          font-size: 1.25rem;
          font-weight: 300;
          height: 1rem;
        }
        &__active {
          h1 {
            &::after {
              @include smooth-transition(
                all,
                0.5s,
                cubic-bezier(0.4, 0, 0.2, 1)
              );
              width: 100%;
            }
          }
        }
      }

      &__confirm-buttons {
        @include smooth-transition;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 300px;
        opacity: 0;
        margin-top: 2.5rem;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          pointer-events: none;
          cursor: none;
          padding: 1rem 2rem;
          border-radius: 1.25rem;
          font-size: 1.1rem;
          font-weight: 300;
          @include smooth-transition(all, 0.2s, ease-in-out);
          gap: 0.75rem;
          border: 2px solid transparent;

          svg {
            font-size: 1rem;
            @include smooth-transition(transform, 0.2s, ease-in-out);
          }

          &:first-child {
            background-color: transparent;
            color: theme.$primaryBackground;
            border-color: theme.$primaryBackground;

            &:hover {
              background-color: rgba(theme.$primaryBackground, 0.1);
              svg {
                transform: translateX(-5px);
              }
            }
          }

          &:last-child {
            background-color: theme.$primaryBackground;
            color: theme.$primaryCTA;
            border-color: theme.$primaryCTA;

            &:hover {
              background-color: rgba(theme.$primaryBackground, 0.9);
              svg {
                transform: translateX(5px);
              }
            }
          }
        }
      }
      &__confirm-buttons__active {
        opacity: 1;
        button {
          cursor: pointer;
          pointer-events: auto;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .register {
    .register__divider,
    .register__right__container {
      display: none;
    }
  }
}
