/**========================================================================
 *                           IMPORTS
 *========================================================================**/
@use "../themes/temp" as theme;

/**======================
 *    UTILITIES
 *========================**/
.navbar__nav__left__item--selected {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 125%;
    height: 2.5px;
    background-color: theme.$primaryCTA;
    left: -15%;
    bottom: -1.5rem;
  }
}
.navbar__hamburger__button,
.navbar__hamburger__menu {
  display: none;
}
.navbar__hamburger__button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 101;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: theme.$primaryText;
    right: 0;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
  }

  &::before {
    top: 40%;
  }

  &::after {
    top: 60%;
    width: 60%;
  }
}

.navbar__hamburger__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: theme.$secondaryBackground;
  transition: right 0.3s ease-in-out;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    top: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: theme.$primaryBackground;
    transition: width 0.3s ease-in-out 0s;
  }
}

.navbar__hamburger__menu--active {
  right: 0;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);

  &::before {
    width: 90%;
    transition: width 0.3s ease-in-out 0.4s;
  }
}
.navbar__hamburger__button--active {
  &::before {
    background-color: theme.$primaryBackground;
    transform: translateY(0.25rem) rotate(45deg);
    width: 80%;
  }

  &::after {
    background-color: theme.$primaryBackground;
    transform: translateY(-0.25rem) rotate(-45deg);
    width: 80%;
  }
}

/**======================
 *    MAIN LOGGED OUT NAVBAR
 *========================**/
.navbar {
  width: 100%;
  color: theme.$primaryText;
  .navbar__nav {
    width: inherit;
    height: 4.5rem;
    background-color: theme.$primaryBackground;
    padding: 0 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar__nav__left,
    .navbar__nav__right {
      display: flex;
      align-items: center;
      font-weight: 300;
    }

    .navbar__nav__left {
      gap: 1.25rem;
      font-weight: 500;
      font-size: 1.2rem;
      text-transform: uppercase;
      .navbar__nav__left__item {
        &:has(img) {
          position: relative;
          margin-right: 2rem;
          &::after {
            position: absolute;
            content: "";
            width: 2px;
            height: 75%;
            background-color: theme.$primaryText;
            right: -1.25rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .navbar__nav__right {
      gap: 1.25rem;
      .navbar__nav__right__item {
        &:nth-child(1) {
          position: relative;
          margin-right: 2rem;
          &::after {
            position: absolute;
            content: "";
            width: 0%;
            height: 2px;
            background-color: theme.$primaryCTA;
            right: 0;
            bottom: -0.25rem;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            &::after {
              left: 0;
              width: 100%;
            }
          }
        }
        &:nth-child(2),
        &:nth-child(3) {
          a {
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            background-color: theme.$primaryCTA;
            color: theme.$primaryBackground;
            transition: all 0.15s ease-in-out;
            border: 1px solid theme.$primaryCTA;
            &:hover {
              background-color: rgba(theme.$primaryCTA, 0.9);
            }
          }
        }
      }
    }

    // GENERALS
    li {
      &:hover {
        color: theme.$primaryCTA;
      }
    }
  }
}

@media (max-width: 1000px) {
  .navbar {
    .navbar__nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > .navbar__nav__left,
      > .navbar__nav__right {
        display: none;
      }
    }
  }

  .navbar__hamburger__button,
  .navbar__hamburger__menu {
    display: block;
  }
}
