/**========================================================================
 *                           IMPORTS
 *========================================================================**/
@use "../themes/temp" as theme;
.navbar {
  width: 100%;
  height: 4.5rem;
  background-color: theme.$primaryBackground;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
  color: theme.$primaryText;
  font-size: larger;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 0 2rem;
    .navbar-left_links,
    .navbar-right_links {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      a {
        &:hover {
          color: theme.$primaryCTA;
        }
      }
    }
    .navbar-left_links {
      text-transform: uppercase;
      font-weight: 500;
      position: relative;
      gap: 2rem;

      li:nth-child(1) {
        margin-right: 2rem;
        &::after {
          content: "";
          position: absolute;
          left: 5.5rem;
          width: 1px;
          height: 3rem;
          background-color: theme.$secondaryBackground;
          transform: translateY(25%);
        }
      }
    }
    .navbar-right_links {
      gap: 1.25rem;
      li:nth-child(1) {
        margin-right: 4rem;
        a {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: -2px;
            width: 0%;
            height: 2px;
            transition: all 0.25s ease-in-out;
          }
          &:hover {
            &::before {
              left: 0;
              width: 100%;
              background-color: theme.$primaryCTA;
            }
          }
        }
      }
      li:nth-child(2),
      li:nth-child(3) {
        a {
          padding: 0.5rem 1rem 0.5rem 1rem;
          border-radius: 40px;
          border: 1px solid theme.$secondaryBackground;
        }
      }
      li:nth-child(2) {
        a {
          &:hover {
            background-color: #e0e0d3;
            color: theme.$primaryText;
          }
        }
      }
      li:nth-child(3) {
        a {
          color: theme.$primaryBackground;
          background-color: theme.$secondaryBackground;
          &:hover {
            background-color: #585858;
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}

.selected {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%; /* Start at the center */
    bottom: -25px; /* Position it below the containing box */
    width: 120%; /* Make it 20% larger than the box */
    height: 0.35rem;
    background-color: theme.$primaryCTA;
    transform: translateX(-50%); /* Center it */
  }
}
